[Unit]                                                                                                                                 
Description=Mount {{ item.device }} to {{ item.mount_point }}

[Mount]
What={{ item.device }}
Where={{ item.mount_point }}
Type={{ item.filesystem }}

[Install]
WantedBy=local-fs.target
